<aside class="menu is-flex">
  <div class="sticky-sidebar">
    <div class="is-main-link">
      <a href="{{ .Site.BaseURL }}">
        <h1>Documenters<br>Field Guide</h1>
      </a>
    </div>
    <div>
      <ul class="menu-list">
        {{ $page := . }}
        {{ range sort (where .Site.RegularPages "Section" "categories") ".Params.order" -}}
        {{ $children := where (where .Site.RegularPages "Params.category" .Params.title) ".Params.inmenu" true }}
        <li>
          <a
            {{if or (eq $page.URL .URL) (eq $page.Params.category .Params.title)}}
            class="active toggle"
            {{else}}
            class="toggle"
            {{end}}
            {{if gt (len $children) 0 }}
            {{else}}
            href="{{.URL}}"
            {{end}}
          >{{ .Name }}</a>
          {{if gt (len $children) 0 }}
          <ul>
            {{ range sort $children ".Params.order" }}
            <li>
              <a
                {{if eq $page.URL .URL }}
                class="active"
                {{end}}
                href="{{ .URL }}"
              >{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
          {{ end }}
        </li>
        {{- end }}
      </ul>
    </div>
  </div>
</aside>
