{{ partial "head.html" . }}
  <body>
    <section class="section hero is-fullheight">
      <div class="columns">
        <div class="column is-3 sidebar is-flex">
          {{ partial "sidebar.html" . }}
        </div>
        <div class="column is-content is-flex">
          <main class="content">
            {{ block "main" . -}}{{- end }}
          </main>
        </div>
      </div>
      <footer class="footer">
        <div class="content has-text-centered">
          <p class="brand">A City Bureau project</p>
          <small>
            {{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ now.Format "2006"}}. All rights reserved. {{end}}
          </small>
        </div>
      </footer>
    </section>
    {{ partial "footer.html" . }}
  </body>
</html>
