@font-face {
  font-family: 'Governor';
  src: url('https://documenters-shared.azureedge.net/fonts/Governor.eot');
  src: url('https://documenters-shared.azureedge.net/fonts/Governor.eot?#iefix') format('embedded-opentype'),
    url('https://documenters-shared.azureedge.net/fonts/Governor.woff2') format('woff2'),
    url('https://documenters-shared.azureedge.net/fonts/Governor.woff') format('woff'),
    url('https://documenters-shared.azureedge.net/fonts/Governor.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Governor';
  src: url('https://documenters-shared.azureedge.net/fonts/Governor.eot');
  src: url('https://documenters-shared.azureedge.net/fonts/Governor.eot?#iefix') format('embedded-opentype'),
    url('https://documenters-shared.azureedge.net/fonts/Governor.woff2') format('woff2'),
    url('https://documenters-shared.azureedge.net/fonts/Governor.woff') format('woff'),
    url('https://documenters-shared.azureedge.net/fonts/Governor.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
